#menu {
    // Size
    height: 100%;
    width: 100%;

    // Flex
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:host {
    //Resets
    margin: 0;
    padding: 0;

    // Size
    height: 100%;
    width: 100%;
}