#game {
    // Size
    height: 90vh;
    width: 80vw;

    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "pause reset bombs time"
        "board board board board";
}

:host {
    //Resets
    margin: 0;
    padding: 0;

    // Size
    height: 100%;
    width: 100%;

    // Flex
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause {
    grid-area: pause;
    height: 100%;
}

#reset {
    grid-area: reset;
    height: 100%;
}

#bombs {
    grid-area: bombs;

    // Flex
    display: flex;
    justify-content: center;
    align-items: center;

    // Font
    font-size: 2em;

    background: #dfcc74;
    border-bottom: 0.1em solid #c2b061;
}

#time {
    grid-area: time;

    // Flex
    display: flex;
    justify-content: center;
    align-items: center;

    // Font
    font-size: 2em;

    background: #CB904D;
    border-bottom: 0.1em solid #A2733D;
}

main {
    grid-area: board;
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

    // Flex
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    width: 100%;

    display: flex;
}

.col {
    flex: 1;


    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.01em solid #2295be;
    background: #1a789b;
}