<div id="game">
  <button id="pause" class="button" (click)="pauseState()">PAUSE</button>
  <button id="reset" class="button" (click)="beginState()">RESET</button>
  <span id="bombs" [ngSwitch]="game.gameState">
    <span *ngSwitchCase="GameState.PLAYING">BOMBS: {{ game.remainingFlags }}</span>
    <span *ngSwitchCase="GameState.WON">You Won!</span>
    <span *ngSwitchCase="GameState.LOST">You Lost!</span>
  </span>
  <span id="time">{{ game.secondsPassed | timePipe }}</span>
  <main>
    <div class="row" *ngFor="let row of game.board; let i = index">
      <div class="col" *ngFor="let cell of row; let j = index" (click)="game.reveal(i, j)" (contextmenu)="game.flag(i, j)"
      [ngClass]="{
        'closed': cell.state === CellState.CLOSED,
        'flagged': cell.state === CellState.FLAGGED
      }">
        <span *ngIf="cell.state === CellState.FLAGGED">🚩</span>
        <span *ngIf="cell.state === CellState.OPENED">{{ cell.value === 0 ? '' : cell.value === -1 ? '💣' : cell.value }}</span>
      </div>
    </div>
  </main>
</div>